
body{
	width:100%;
	height:100vh;
	background:whitesmoke;
	overflow-x: hidden;
	overflow-y: scroll;
	margin: 0;
}
/*input[type=text]{
	width:300px;
	height: 20px;
	padding: 10px;
	margin: 20px;
	font-family: 'Quicksand';
	font-weight: 400;
}*/
/*input[type=radio]{
	
	padding: 10px;
	margin: 20px;
}*/
input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
  border-radius: 5px;
}
input[type=submit]{
	width:100px;
	height:30px;
	border-radius: 5px;
	background-color: #248BEC;
    color: white;
    box-shadow: 0px;
    border: none;
    padding: 5px 10px;
    font-size: 15px;
	font-family: 'Quicksand';
	font-weight: 500;
	cursor: pointer;
    display: inline-block;
    margin: 10px;
}
label{
    margin-right: 20px;
	font-family: 'Quicksand';
	font-size:20px;
}

.one button{
	width:250px;
	height:60px;
	border-radius: 5px;
	background-color: #248BEC;
    color: white;
    box-shadow: 0px;
    border: none;
    padding: 5px 10px;
	font-family: 'Quicksand';
	font-size: 20px;
	font-weight: 500;
	cursor: pointer;
    display: inline-block;
    margin: 10px;
}
.one button:hover{
	box-shadow: 0px 0px 10px 2px rgba(138,134,138,0.89);
}
.one{
	width:300px;
	height:auto;
	float:left;
	margin:20px;
	margin-top: 0px;
}
.one h2{
	font-family: 'Quicksand';
	padding: 20px;

}
.two{
	width:700px;
	height: auto;
	float: left;
	margin-left:30px;
	margin-top: 0px;
}
.two h2{
	font-family: 'Quicksand';
	padding-top: 15px;
	padding-bottom: 20px;
}
.two button{
	/*width:250px;
	height:60px;*/
	background-color: #248BEC;
	border:none;
	border-radius: 5px;
	padding:5px;
	color: white;
}
.two button i{
	font-size: 24px;
	border-radius: 5px;
	background-color: ;
    color: white;
    box-shadow: 0px;
}
.two button:hover{
	box-shadow: 0px 0px 10px 2px rgba(138,134,138,0.89);
}
.two input[type=text]{
	width: 350px;
	height:60px;
	border:1px solid rgba(138,134,138,0.89);
	padding: 5px;
	border-radius:10px;
	font-family: 'Quicksand';
	margin: 10px;
}
.two input:focus{
	border-radius:10px;
	border:none;
}
